@charset "utf-8";

.wrap {
  width: 70%;
  background-color: white;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;

  position:relative;
  top: 110px;
}

.top-chapter {
  height: 64px;
  font-size: 28px;
  color: white;
  font-weight: bold;
  font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  background-color: #87BF8B;
  text-align: center;
  padding: 16px 0;
}

@media (max-width:817px){
  .wrap {
    width: 90%;
  }
}
@media (max-width:768px){
  .wrap {
    width: 100%;
    margin: 0 auto;
    padding:16px 0;
    position: relative;
    top: 60px;
  }
}

/* index  main部分CSS */
.main-img {
  width: 360px;
  height: 400px;
  margin:0 auto;
}

.main-img img {
  max-width: 100%;
  height:100%;
}

.main-sub {
  max-width: 600px;
  height: 120px;
  margin: 16px auto;
  padding: 0 16px;
}

.main-sub img {
  width: 100%;
  height: 100%;
}

.contain {
  width: 100%;
  height: 240px;
  background-color: rgba(255,255,255, 0.4);
  text-align: center;
  align-items: center;
}

.main-copy {
  display:flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-copy p {
  font-size: 20px;  
  font-weight: bold;
  line-height: 1.5;
  font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  color: #595959;
  white-space: nowrap;
  opacity: 1;
}

.main-copy span {
  font-size: 28px;
  color: #87BF8B;
}

.sp-copy {
  display: none;
}

@media (max-width:768px){

  .contain {
    width: 100%;
    height: 240px;
    padding-bottom: 16px;
  }

  .main-img {
    width: 240px;
    height: 280px;
    margin:0 auto;
  }

  .main-sub {
    /* width: 80%; */
    max-width: 360px;
    height: 80px;
    padding: 0;
  }

  .main-copy p {
    font-size: 14px;  
    line-height: 1.8;
  }

  .main-copy span {
    font-size: 24px;
  }
}

@media (max-width:817px){
  .sp-copy {
    display: block;
  }

  .pc-copy {
    display: none;
  }
}

/*index about部分 */
.about-chapter {
  margin-top: 16px;
  height: 64px;
  font-size: 28px;
  color: white;
  font-weight: bold;
  font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  background-color: #87BF8B;
  text-align: center;
  padding: 16px 0;
}

.about {
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  font-family:"HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  margin-top: 16px;
}

.about-coment p {
  line-height: 1.7;
  color: #595959;
}

.about-img {
  max-width: 662px;
  height:400px;
  margin-top: 16px;
}

.about-img img {
  width: 100%;
  height: 100%;
}


@media (max-width:960px){
  .about-img {
    width: 500px;
    height: 300px;
    margin-top: 16px;
  }
}

@media (max-width:768px){

  .about-chapter {
    margin-top: 0;
    font-size: 24px;
  }

  .about {
    font-size: 10px;
  }
  
  .about-coment p {
    line-height: 1.9;

  }

  .about-coment p:last-child {
    font-size: 8px;
  }

  .about-img {
    width: 350px;
    height: 200px;
  }
}